<h1>CritNight</h1>
<hr>{% load static %}

<header class="header">
  {% comment %} <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">

                <h1><a href="{% url 'artworks' %}" a class="navbar-brand">CritNight</a></h1>
        

          <ul class="nav justify-content-end">

              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="{% url 'artworks' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="">My Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="{% url 'create-artwork' %}">Add An Entry</a>
              </li>
              <li class="nav-item">
                <a a class="nav-link active text-white" aria-current="page" href="{% url 'profiles' %}">Panelists</a>
              </li>
              <li class="nav-item">
                <a a class="nav-link active text-white" aria-current="page" href="{% url 'user-vehicles' %}">Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="">Login/Sign Up</a>
              </li>
            </ul>

        </div>
  </div> {% endcomment %}
</header>

<hr>